@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
}

body{
    height: 40vw;
}

h1{
    margin-top: 1em;
}

.bg{
    width: 100%;
    background-image: linear-gradient(180deg, rgba(61, 210, 204, 0.25) 0%,
    rgba(18,45,66, 1) 100%), url(./img/athletic-man-running-urban-street-against-grey-background\ 2.png);
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    position: inherit;
    width: 100%;
}

.navbar h1{
    width: 20%;
    font-size: 2em;
    text-align: center;
}

.flex{
    position: inherit;
    display: flex;
    width: 100%;
    height: 30vw;
    justify-content: center;
}

.card{
    position:inherit;
    width: 25%;
    height: 30vw;
    background-color: rgba(0,0,0,0.4);
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.left{
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px; 
}

.right{
    border-top-right-radius: 12.5px;
    border-bottom-right-radius: 12.5px; 

}

.card p{
    position: inherit;
    height: 30%;
    padding-bottom: 2.5em;
}
.card a{
    margin-top: 100em;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 3%;
}

hr{
    position: inherit;
    width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    height: 2px;
}

.caption{
    position: inherit;
    margin: auto;
    width: 80%;
    text-align: justify;
}

img{
    position: inherit;
    margin-top: 10%;
    width: 20%;
    filter: invert(100);
}

a, a:visited{
    text-decoration: none;
    color: #ffffff;
}
  
a:focus, a:hover{
    color: #3DD2CC;
    border-color: #3DD2CC;
}

footer{
    position: inherit;
    margin-top: 1.75em;
    margin-bottom: 2.5em;
    width: 10%;
    font-size: 1.25em;
}
  
footer a{
    text-decoration: none;
}

